asgiref==3.4.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bs4==0.0.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.5.30
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.1
clikit==0.6.2
colorama==0.4.4
crashtest==0.3.1
distlib==0.3.2
Django==3.2.6
django-dotenv==1.4.2
django-environ==0.4.5
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
html5lib==1.1
idna==3.2
importlib-metadata==1.7.0
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==2.0.1
mccabe==0.6.1
msgpack==1.0.2
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.7.1
platformdirs==2.2.0
poetry-core==1.0.3
ptyprocess==0.7.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylev==1.4.0
pyparsing==2.4.7
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.26.0
requests-toolbelt==0.9.1
sawo==1.2.2
shellingham==1.4.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tomlkit==0.7.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.7.0
webencodings==0.5.1
Werkzeug==2.0.1
zipp==3.5.0
