<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body>
  <div class="container d-flex justify-content-center align-middle">
  <div class="row">
    <div class="col-12 p-4 h2 text-center text-Success">
     <h1 class="fs-1 fw-bold font-monoscape text-primary">SAWOPY TEST</h1>
    </div>
    {% if load %}
        <div class="text-center text-success"><h1>Test Complete payload recived!</h1></div>
        <div id="load" class="col-12 text-center text-info h2">
          {{load}}
        </div>
    {% else %}
        <div class="col-12 d-flex justify-content-center">
          {% include 'partials/_sawo.html' %}
        </div>
    {% endif %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>